<div class="container-fluid screen-height d-flex flex-column consult">

  <div class="oz-body-wrap">
    <div class="superContainer">

      <div class="row">

        <div class="col col-sm-12">
          <div class="card mb-3">
            <div class="card-header">

              <div class="container-tittle">
                <div class="title">
                  <h2 class="mr-4">Historial de eventos</h2>
                </div>

                <div class="search"> <input [(ngModel)]="searchStatement" type="text"
                    class="align-self-center form-control" placeholder="Buscar"></div>
              </div>

            </div>
            <div class="card-body">
              <app-table [columnHeaders]="['Nombre evento', 'Descripción', 'Fecha inicio', 'Lugar', 'Opciones']"
                [data]="data" [headerToData]="headerToData"></app-table>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>