<div [@routerTransition]>
  <app-page-header [heading]="namePage" [icon]="'fa-bar-chart-o'"></app-page-header>
  <div class="row options">
    <div class="col col-sm-12">
      <div class="card mb-3">
        <div class="card-header">
          <button *ngFor="let option of dateReport" class="btn btn-link active">{{option.name}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-sm-12">
      <div class="card mb-3">
        <div class="card-header">
          <strong> Estadísticas por presupuesto</strong>
        </div>
        <div class="card-body">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
          </canvas>
        </div>
        <div class="card-footer">
          <button class="btn btn-info btn-sm" (click)="randomize()">Actualizar</button> &nbsp;
          <button class="btn btn-success btn-sm" (click)="randomize()">Descargar DOCX</button>&nbsp;
          <button class="btn btn-secundary btn-sm" (click)="randomize()">Descargar XLSX</button>
        </div>
      </div>
    </div>
    <!-- <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Doughnut Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="180px" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>-->
  </div>

  <div class="row">
    <div class="col col-sm-12">
      <div class="card mb-3">
        <div class="card-header">
          <strong>Detalles generales</strong>
        </div>
        <div class="card-body">
          <table class="table">
            <thead class="thead-light">
              <tr class="table-success" style="text-align: center">
                <th scope="col">Localidad</th>
                <th scope="col">Coordinador</th>
                <th scope="col">Presupuesto</th>
              </tr>
            </thead>
            <tbody>
              <tr style="text-align: center"></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!--
  <div class="row">
    <div class="col col-sm-6">
      <div class="card mb-3">
        <div class="card-header">
          Radar Chart
        </div>
        <div class="card-body">
          <canvas
            baseChart
            height="150px"
            [datasets]="radarChartData"
            [labels]="radarChartLabels"
            [chartType]="radarChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
          >
          </canvas>
        </div>
      </div>
    </div>
    <div class="col col-sm-6">
      <div class="card mb-3">
        <div class="card-header">
          Pie Chart
        </div>
        <div class="card-body">
          <canvas
            baseChart
            height="150px"
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-6">
      <div class="card mb-3">
        <div class="card-header">
          Polar Area Chart
        </div>
        <div class="card-body">
          <canvas
            baseChart
            height="130px"
            [data]="polarAreaChartData"
            [labels]="polarAreaChartLabels"
            [legend]="polarAreaLegend"
            [chartType]="polarAreaChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
          >
          </canvas>
        </div>
      </div>
    </div>
    <div class="col col-sm-6">
      <div class="card mb-3">
        <div class="card-header">
          Line Chart
        </div>
        <div class="card-body">
          <canvas
            baseChart
            height="130"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
  -->
</div>