$topnav-background-color: #222;
:host {
  display: block;
}
.login-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: $topnav-background-color;
  background-image: url('../../assets/images/index2.png');
  background-repeat: no-repeat;
  background-size: cover;
  //background-color: #fff !important;
  text-align: center;
  color: #fff;
  padding: 3em;
  .col-lg-4 {
    padding: 0;
  }
  .container {
    border: 0.5px solid #fff;
    background-color: rgba(24, 23, 22, 0.4);
    border-radius: 2px;
  }
  .input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0;
  }
  .input-underline {
    background: 0 0;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    border-radius: 0;
  }
  .input-underline:focus {
    border-bottom: 2px solid #fff;
    box-shadow: none;
  }
  .rounded-btn {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: rgba(255, 255, 255, 0.8);
    background: $topnav-background-color;
    border: 2px solid rgba(255, 255, 255, 0.8);
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
  }
  .rounded-btn:hover,
  .rounded-btn:focus,
  .rounded-btn:active,
  .rounded-btn:visited {
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    outline: none;
  }

  h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
    small {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  .form-group {
    padding: 8px 0;
    input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.6) !important;
    }

    input:-moz-placeholder {
      /* Firefox 18- */
      color: rgba(255, 255, 255, 0.6) !important;
    }

    input::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(255, 255, 255, 0.6) !important;
    }

    input:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.6) !important;
    }
  }
  .form-content {
    padding: 40px 0;
  }
  .user-avatar {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    //border: 2px solid #fff;
  }

  .buttonB {
    margin-top: 20px;
  }

  @media screen and (max-width: 320px) {
    img {
      width: 80%;
      margin-top: -30px;
    }
    h1 {
      font-size: 100%;
      width: 100%;
    }
    .buttonB {
      width: 100%;
      border: 1px solid red;

      .btn-link {
        font-size: 65%;
        align-content: center;
      }
    }
  }
  @media screen and (min-width: 320px) and (max-width: 1200px) {
    img {
      width: 80%;
      margin-top: -30px;
    }
  }
}
