<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-6 col-xs-12">
      <div class="img">
        <img src="assets/images/logo.png" width="300px" class="user-avatar" />
      </div>
      <div class="container">
        <h1>Bienvenido!</h1>
        <form role="form">
          <div class="form-content">
            <div class="form-group">
              <input
                type="text"
                ng-model="name"
                class="form-control input-underline input-lg"
                id=""
                placeholder="{{ 'Email' | translate }}"
              />
            </div>

            <div class="form-group">
              <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Password' | translate }}" />
            </div>
          </div>

          <div class="buttonA">
            <a class="btn btn-dark" [routerLink]="['/dashboard']" (click)="onLoggedin()">{{ 'Log in' | translate }}</a>
          </div>

          <div class="buttonB">
            <a class="btn btn-link" [routerLink]="['/signup']">{{ '¿Olvidó la contraseña?' | translate }}</a>
          </div>

          &nbsp;
        </form>
      </div>
    </div>
  </div>
</div>
