<div class="card text-white bg-{{ bgClass }}">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-12 col-xs-12 icon">
        <i class="fa far fal {{ icon }} fa-5x"></i>
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-12 ">
        <div class="d-block tittle">{{ count }}</div>
        <div class="d-block">{{ label }}</div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <span class="float-left">Observar {{ data }}</span>
    <a (click)="redirect()" class="float-right card-inverse">
      <span><i class="fa fa-arrow-circle-right"></i></span>
    </a>
  </div>
</div>