<nav class="sidebar" [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }">
  <div class="list-group">
    <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" (click)="addExpandClass('not')" class="list-group-item">
      <i class="fa fa-home"></i>
      &nbsp;
      <span>{{ 'Dashboard' | translate }}</span>
    </a>

    <div class="nested-menu">
      <a class="list-group-item" (click)="addExpandClass('expenses')">
        <i class="fa fa-fw fa-tasks"></i>&nbsp;
        <span>{{ 'Administrar' | translate }}</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'expenses'">
        <ul class="submenu">
          <li>
            <a [routerLink]="['/administrar/eventos']" [routerLinkActive]="['router-link-active']">
              <i class="far fa-fw fa-calendar-alt"></i>&nbsp;
              <span>{{ 'Eventos' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/administrar/gastos']" [routerLinkActive]="['router-link-active']">
              <i class="fa fa-fw fa-percent"></i>&nbsp;
              <span>{{ 'Gastos' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/administrar/presupuesto']" [routerLinkActive]="['router-link-active']">
              <i class="fa fa-fw fa-money"></i>&nbsp;
              <span>{{ 'Budget' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/administrar/votantes']" [routerLinkActive]="['router-link-active']">
              <i class="fas fa-fw fa-user-check"></i>&nbsp;
              <span>{{ 'Votantes' | translate }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/administrar/lideres']" [routerLinkActive]="['router-link-active']">
              <i class="fa fa-fw fa-fist-raised"></i>&nbsp;
              <span>{{ 'Líderes' | translate }}</span>
            </a>
          </li>
        </ul>
      </li>
    </div>

    <div class="nested-menu">
      <a class="list-group-item" (click)="addExpandClass('reports'); addExpandSubClass('no')">
        <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
        <span>{{ 'Reports' | translate }}</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'reports'">
        <ul class="submenu">
          <li>
            <div class="nested-menu">
              <a class="list-group-item" (click)="addExpandSubClass('campania')">
                <i class="fab fa-fw fa-delicious"></i>
                &nbsp;
                <span>{{ 'Campaña' | translate }}</span>
              </a>
              <li class="nested" *ngIf="showSubMenu === 'campania'">
                <ul class="submenu">
                  <li>
                    <a [routerLink]="['/reports/campania/logistico']" [routerLinkActive]="['router-link-active']">
                      <i class="fab fa-fw fa-angellist"></i>&nbsp;
                      <span>{{ 'Logísticos' | translate }}</span>
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/reports/campania/localidad']" [routerLinkActive]="['router-link-active']">
                      <i class="fas fa-fw fa-map-marked-alt"></i>&nbsp;
                      <span>{{ 'Localidades' | translate }}</span>
                    </a>
                  </li>
                </ul>
              </li>
            </div>
          </li>

          <li>
            <a [routerLink]="['/reports/diad']" [routerLinkActive]="['router-link-active']">
              <i class=" fab fa-fw fa-dyalog"></i>
              &nbsp;
              <span>{{ 'Día D' | translate }}</span>
            </a>
          </li>
        </ul>
      </li>
    </div>

    <div class="header-fields">
      <div class="nested-menu">
        <a class="list-group-item" (click)="addExpandClass('profile')">
          <span><i class="fa fa-user"></i>&nbsp; {{ username }}</span>
        </a>
        <li class="nested" [class.expand]="showMenu === 'profile'">
          <ul class="submenu">
            <li>
              <a [routerLink]="['/login']" (click)="onLoggedout()">
                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
              </a>
            </li>
          </ul>
        </li>
      </div>
    </div>
  </div>
</nav>
