.buttons {
    float: right;
    width: 100% !important;
}

.agregar {
    width: auto;
    position: relative;
    float: left;
}

.buscar {
    width: auto;
    position: relative;
    float: right;
}

i {
    color: white;
}

.superContainer {
    margin-bottom: 5%;
    width: 100% !important;
    padding: 3%;
}

.search {
    width: 100% !important;
    position: relative;
    float: right;
    text-align: right;
    margin-top: 2%;
    margin-bottom: 1%;
}

.generalTitle {
    width: 57%;
    margin-right: 3%;
    position: relative;
    float: left;
}

.titleSearch {
    width: 60%;
    position: relative;
    float: left;
}

.search .icon {
    width: 20%;
    position: relative;
    float: right;
}